
body{
    background-color: #222;
    padding: 20px;
    font-family:arial;
    color: tomato;
  }
  
  .ct-chart{
    border-radius: 6px;
    background-color:white;
    padding-top: 20px;
    
  }

.ct-grid{
  stroke: grey !important;
}
.ct-labels{
  color: grey !important;
}
.ct-series-a .ct-line{

 stroke:white ;
}
#map{ 
    width:95vw;
    height: 400px;
 }
  
  

