
body{
    background-color: #222;
    padding: 20px;
    font-family:arial;
    color: tomato;
  }
  
  .ct-chart{
    border-radius: 6px;
    background-color:black;
    padding-top: 20px;
    
    
  }

.ct-series-a>.ct-line{

    stroke:white ;
}
#map{ 
    width:100vw;
    height: 400px;
 }
  
  

